.form-container {
    padding: 8px;
}

form {
  border-bottom: 1px solid #5C8218;
}

input[type="text"] {
    padding: 8px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    caret-color: white;
}

.search-button {
    padding:8px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
  background-color: #5C8218;
  transition: all 0.3s;
  border-radius: 8%;
}

::-webkit-input-placeholder {
    color: white;
  }
  ::-moz-placeholder {
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
  ::placeholder {
    color: white;
}